*
{
    padding: 0;
    margin: 0;
}

body,
html
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#app.has-cursor-pointer
{
    cursor: pointer;
}
